{{- if eq .Values.environment.data.CACHE_STORE "redis" }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: redis
  labels:
    {{- include "redis.labels" . | nindent 4 }}
spec:
  replicas: 1
  selector:
    matchLabels:
      {{- include "redis.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "redis.labels" . | nindent 8 }}
        {{- with .Values.podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      imagePullSecrets: 
      {{- range .Values.imageCredentials }}
      - name: {{ .name }}
      {{- end }}
      containers:
        - name: redis
          image: "{{ .Values.images.redisImage.repository }}:{{ .Values.images.redisImage.tag }}"
          imagePullPolicy: {{ .Values.images.redisImage.pullPolicy }}
          ports:
            - name: redis
              containerPort: {{ .Values.redis.containerPort | default 6379 }}
              protocol: TCP
          resources:
            {{- toYaml .Values.redis.resources | nindent 12 }}
      restartPolicy: Always
{{- end -}}
