{{- if .Values.environment.create -}}
{{- $envData := include "portkeyenterprise.processedEnvData" . | fromYaml -}}
{{- if .Values.environment.secret -}}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "portkeyenterprise.fullname" . }}
  labels:
    {{- include "gateway.labels" . }}
data:
{{- range $key, $val := $envData }}
  {{ $key }}: {{- if $val }} {{ $val | b64enc }} {{- else }} "" {{- end }}
{{- end -}}
{{- else -}}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "portkeyenterprise.fullname" . }}
  labels:
    {{- include "gateway.labels" . }}
data:
{{- range $key, $val := $envData }}
  {{ $key }}: {{ $val | quote }}
{{- end -}}
{{- end -}}
{{- end -}}